<div class="inner">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3><span class="slash">//</span> Quick Links</h3>
                <ul class="footer-links clearfix">
                    {% for section, pages in site_map %}
                        {% if section|slice(0, 1) != '_' %}
                            {% for p, permission in pages %}
                                {% if (permission == 0 or (auth_level >= permission)) and p == section %}
                                    <li>
                                        <a {% if p == page %}class="active"{% else %}href="{{ p }}"{% endif %}>
                                            <i class="icon-{{ p }}"></i> {{ p|capitalize }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul> <!-- /footer-links -->
                <ul class="footer-links clearfix">  
                    {% for p, permission in site_map._misc %}
                        {% if permission == 0 or (auth_level >= permission) %}
                            <li>
                                <a {% if p == page %}class="active"{% else %}href="{{ p }}"{% endif %}>
                                    <i class="icon-{{ p }}"></i> {{ p|capitalize }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul> <!-- /footer-links -->
            </div> <!-- /span4 -->
            <div class="span4">
                <h3><span class="slash">//</span> Follow us</h3>
                <p>You can now be part of the community by following us on Twitter, Facebook or Google+ for news, announcements and more.</p>
                <ul class="social-icons-container">
                    <li><a href="#" class="social-icon social-icon-twitter">Twitter</a></li>
                    <li><a href="#" class="social-icon social-icon-facebook">Facebook</a></li>
                    <li><a href="#" class="social-icon social-icon-googleplus">Google+</a></li>
                </ul> <!-- /social-icons-container -->
            </div> <!-- /span4 -->
            <div class="span4">
                <h3><span class="slash">//</span> Subscribe</h3>
                <p>Subscribe to our newsletter and get exclusive promotions and beta invites straight to your inbox!</p>
                <br />
                <form action="/{{ page }}/subscription" method="post">
                    <input name="subscription_email" type="text" placeholder="Email..." />
                    <br />
                    <button class="btn ">Subscribe</button>
                </form>
            </div> <!-- /span4 -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</div> <!-- /inner -->